body {
	background-color: #e5e4e4;
}

#addGame {
	background-color: #ff7f50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:4px;
}

.newButton {

	background-color: #ff7f50; /* coral*/
	margin-left:10px;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius:4px;

}

#glitch-form {
	margin-left: 800px;
}